@model UserDashboardModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageHeader = "Dashboard";
    ViewBag.PageHeaderSmall = "Overview of your data";
}
<div ng-app="app-dashboard">
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        @if (Model.TotalWeight > 1000)
                        {
                            <h3>@((Model.TotalWeight / 1000.0).ToString("n2")) Kg</h3>
                        }
                        else
                        {
                            <h3>@Model.TotalWeight Grams</h3>
                        }

                        <p>Weight</p>
                    </div>
                    <div class="icon" style="margin-top:-10px;">
                        <i class="fa  fa-balance-scale" style="font-size:0.73em;"></i>
                    </div>
                    <a asp-action="ShowData" asp-controller="User" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.TotalProducts</h3>

                        <p>Products</p>
                    </div>
                    <div class="icon" style="top:-20px;">
                        <i class="fa  fa-cube" style="font-size:0.8em;"></i>
                    </div>
                    <a href="#products" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.TotalLocation</h3>

                        <p>Locations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-globe"></i>
                    </div>
                    <a href="#locations" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.LastUpdatedProduct</h3>

                        <p>Last Updated</p>
                    </div>
                    <div class="icon" style="top:-20px;">
                        <i class="fa  fa-refresh" style="font-size:0.8em;"></i>
                    </div>
                    <a asp-action="ShowData" asp-controller="User" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div ng-controller="chartsController">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Products Information With Weight (in grams) 
                            </h3>
                            <div style="color:red;">{{chart1Error}}</div>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="chart1" height="200"></canvas>
                            </div>
                        </div>
                        <div class="overlay" ng-show="isBusyChart1">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Month Wise Data
                            </h3>
                            <div class="pull-right">
                                <span class="input-group-addon" style="width:0;">Show data from</span>
                                <span class="input-group-btn" style="width:0;">
                                    <select class="form-control" ng-model="startDate">
                                        <option ng-repeat="item in chart2Dates" value="{{item}}">
                                            {{item}}
                                        </option>
                                    </select>
                                </span>
                                <span class="input-group-addon" style="width:0;">to</span>
                                <span class="input-group-btn" style="width:0;">
                                    <select class="form-control" ng-model="endDate">
                                        <option ng-repeat="item in chart2Dates" value="{{item}}">
                                            {{item}}
                                        </option>
                                    </select>
                                </span>
                                <span class="input-group-btn" style="width:0;">
                                    <button type="button" class="btn btn-primary btn-flat" ng-click="displayChart2()">Go!</button>
                                </span>
                            </div>
                            <div style="color:red;">{{chart2Error}}</div>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="chart2" height="400"></canvas>
                            </div>
                        </div>
                        <div class="overlay" ng-show="isBusyChart2">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="locations">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Farm Locations</h3>
                    </div>
                    <div class="box-body">
                        @if (Model.UserLocations != null)
                        {
                            foreach (var location in Model.UserLocations)
                            {
                                <div style="margin-bottom:10px;">
                                    <P style="margin:0"><b>Farm Name:</b> @location.Name</P>
                                    <P style="margin:0"><b>Address:</b> @location.Address</P>
                                    <div style="overflow-x:auto">
                                        <span><b>Pin No:</b> @location.PinNo, </span>
                                        <span><b>State:</b> @location.State, </span>
                                        <span><b>Country:</b> @location.Country, </span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="products">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Products Into Account
                        </h3>
                    </div>
                    <div class="box-body">
                        @Model.ProductsIntoAccount
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>
@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/plugins/Chart.min.js"></script>
    <script src="~/dist/js/dashboardScript.js"></script>
    <script>var username = "@User.Identity.Name.ToString()";user_dashboard(username);</script>
}
