@model UserDetailsModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageHeader = "Dashboard";
    ViewBag.PageHeaderSmall = "Overview of your data. All data except charts are auto updated. To update the charts, either refresh the page or press on 'Go!' button.";
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-default.min.css" />
}
@if (!Model.IsNewUser)
{
    <div ng-app="app-dashboard">
        <section class="content" ng-controller="userController">
            @Html.Partial("UserDashboardPartialTop")
            @if (Model.HaveSomeData)
            {
                @Html.Partial("UserDashboardPartialMiddle")
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="callout callout-info">
                            <h4>Hello there,</h4>
                            <p>You have added locations and some products into your account but your account doesn't have any data to display.</p>
                            <p>User your weighing machine to add some data to your account</p>
                            <p>For any query <a href="/contact">Contact Us</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">@Html.Partial("UserDashboardFarmLocationsPartial")</div>
                    <div class="col-md-6">@Html.Partial("UserDashboardProductsPartial")</div>
                </div>
            }

        </section>
    </div>
    @section scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        @*<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-poller/0.4.5/angular-poller.min.js"></script>*@
        <script src="~/distribution/js/angular-poller.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="~/distribution/js/dashboardScript.js"></script>
        @*<script src="~/js/dashboardScript.js"></script>*@
        <script>var username = "@Model.UserName"; user_dashboard(username);</script>
    }
}
else
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="callout callout-info">
                    <h4>Hello there,</h4>
                    <p>Looks like you are a new user.</p>
                    <p>Go to <a href="/AddNewLocation">Add New Location</a> to add a new locations</p>
                    <p>Go to <a href="/AddNewProduct">Add New Product</a> to add a new product</p>
                    <p>All the other functions will be available once you complete two steps mentioned above.</p>
                </div>
            </div>
        </div>
    </section>
}